/.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Sphinx documentation
docs/_build/

# PyBuilder
target/

/.pytest_cache/
/step/ASM0001_ASM_1_ASM/___240#121#163___1.stp
/step/ASM0001_ASM_1_ASM/___240#121#162___1.stp
/step/ASM0001_ASM_1_ASM/___637#566#58___1.stp
/step/ASM0001_ASM_1_ASM/___117#114#38___1.stp
/step/ASM0001_ASM_1_ASM/___105#95#4___1.stp
